@tailwind base;
@tailwind components;
@tailwind utilities;

/* 統一標題樣式 */
.title-style{
  @apply bg-[#24292D] text-2xl text-center text-white py-3 font-title font-extrabold tracking-wider lg:text-[40px] lg:py-10
}
/* 球隊--名稱 */
.team-text{
  @apply mt-4 text-2xl font-black text-black tracking-widest
}
[v-cloak]{
  display: none;
}

html,body{
    background-color: black;
    color: #fff;
    font-weight: 300;
    font-family: "niveau-grotesk", "Rubik", sans-serif;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-enter-active{
  transition: all 0.5s ease-in-out;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet{
  background-color: azure;
  width: 6px;
  height: 6px;
  transition: all .3s;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active{
  width:1.25rem;
  height: 6px;
  border-radius: 10px;
  background-color: #BB986C;
}
