@tailwind base;
@tailwind components;
@tailwind utilities;
html,body{
    background-color: black;
    color: #fff;
    font-weight: 300;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-pagination-clickable .swiper-pagination-bullet{
    background-color: azure;
    width: 6px;
    height: 6px;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active{
    width:1.25rem;
    height: 6px;
    border-radius: 10px;
    background-color: #BB986C;
  }
